CONFIG_APP_ADDRESS=0x4C429254
CONFIG_BOOTLOADER_BASE=0x4C400000
CONFIG_BOOTLOADER_SIZE=0x10CB0C
CONFIG_BOOTMODE_ADDRESS=0x4C50F5A4
CONFIG_DPRINTF_ADDRESS=0x4C43D0CC
CONFIG_ENVIRONMENT_SUPPORT=y
CONFIG_FASTBOOT_FAIL_ADDRESS=0x4C42A074
CONFIG_FASTBOOT_INFO_ADDRESS=0x4C429ED4
CONFIG_FASTBOOT_OKAY_ADDRESS=0x4C42A268
CONFIG_FASTBOOT_PUBLISH_ADDRESS=0x4C429A80
CONFIG_FASTBOOT_REGISTER_ADDRESS=0x4C429A44
CONFIG_FREE_ADDRESS=0x4C43D4FC
CONFIG_GET_ENV_ADDRESS=0x4C459D80
CONFIG_INIT_STORAGE_ADDRESS=0x4C402684
CONFIG_INIT_STORAGE_CALLER=0x4C4029EA
CONFIG_LK_LOG_STORE_ADDRESS=0x4C45252C
CONFIG_MALLOC_ADDRESS=0x4C43DDD4
CONFIG_MTK_DETECT_KEY_ADDRESS=0x4C404488
CONFIG_PARTITION_GET_SIZE_BY_NAME_ADDRESS=0x4C459A58
CONFIG_PARTITION_READ_ADDRESS=0x4C45B400
CONFIG_PLATFORM_INIT_ADDRESS=0x4C4029BC
CONFIG_PLATFORM_INIT_CALLER=0x4C424808
CONFIG_SET_ENV_ADDRESS=0x4C459F98
CONFIG_SPOOF_SUPPORT=y
CONFIG_STAGE1_SUPPORT=y
CONFIG_THREAD_CREATE_ADDRESS=0x4C424FC4
CONFIG_THREAD_RESUME_ADDRESS=0x4C4251D8
CONFIG_VIDEO_PRINTF_ADDRESS=0x4C465DA8
CONFIG_XIAOMI_SEA=y
